.large-hero {
    position: relative;

    &__text-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        text-align: center;
    }

    &__title {
        font-weight: 300;
    }
}